body {
  margin: 0;
}

p {
  margin: 0;
}
section {
  background-color: white;
  padding: 10px;
}

#question-container {
  min-height: 100px;
}

.question {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
}

.question-navi {
  font-size: 0.8em;
  font-weight: 200;
}

.navi-current {
  font-weight:500
}

.navi-none-age, .navi-none-gender {
  font-weight: 200;
  color: grey;
  cursor: pointer;
}

.selector-item {
 border: 1px solid grey;
 padding: 5px;
 margin: 10px 10px 10px 0;
 cursor: pointer;
 opacity: 0.3;
}

.selector-item.hover, .selector-item.selected{
  opacity: 1;
}

.image-selector {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding-left:620px;
  padding-right:300px;

}
.image-selector-age {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding-left:450px;
  padding-right:400px;
}

#result-container {
  text-align: center;
  min-height: 200px;
  padding: 10px;
}

.breadcomb {
  border: 2px solid #FCAF17;
  border-radius: 32px;
  color: #959494;
  font-size: 1.1em;
  padding: 6px 12px;
}

#result-summary {
  margin-top: 30px;
}

#more {
  position: fixed;
  text-align: center;
  background-color: skyblue;
  bottom: 0;
  width: 100%;
}
