/*for the horizontallity and buttons*/
/*change min / max width later according to the parts that need to be insert*/
html, body {
  padding: 0;
  margin: 0;
  width: 500vw;
  height: 100vh;
  overflow-x: scroll;
  overflow-y: hidden;
}
.section {
  padding: 0;
  margin: 0;
  float: left;
  width: 20%;
}

/*Title & Text colors*/
.section__header{
  padding:0;
  margin: 10px;
}
.section__title {
  color: whitesmoke;
  position: absolute;
}
.section__lead {
  padding-top: 60px;
  padding-left: 80px;
  color: whitesmoke;
}
/*the background content*/
#moon_stars{
  z-index: 0;
  position: fixed;
  padding: 0;
  margin: 0;
  color:rgba(0,0,0,0);
  background-color: rgba(0,0,0,0);
  transform: translateX(6vw) translateY(6vh);
}
.moon {
  width: 4vw;
  height: 4vw;
  background: whitesmoke;
  -moz-border-radius: 2vw;
  -webkit-border-radius: 2vw;
  border-radius: 2vw;
}
.star {
  margin: 2vw;
  background: yellow;
  width: 6px;
  height: 6px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  }
#second {
  transform: translateX(10vw);
}
#third {
  transform: translateX(18vw);
}
#fourth {
   transform: translateX(26vw);
}
#last {
   transform: translateX(34vw);
}

#sky {
  z-index: -3;
  position: fixed;
  background: linear-gradient(#0a0763, #d8b2ff);
  width: 100vw;
  height: 100vh;
}
.section__slides {
  z-index: -5;
  position:absolute;
  transform: translateY(6vh);
  width:90vw;
  height:94vh;
  background-color: black;
  color: black;
}
/*Demographic slide*/
#question-container {
  min-height: 100px;
}

.question {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
}

.question-navi {
  font-size: 0.8em;
  font-weight: 200;
}

.navi-current {
  font-weight:500
}

.navi-none-age, .navi-none-gender {
  font-weight: 200;
  color: grey;
  cursor: pointer;
}

.selector-item {
 border: 1px solid grey;
 padding: 5px;
 margin: 10px 10px 10px 0;
 cursor: pointer;
 opacity: 0.3;
}

.selector-item.hover, .selector-item.selected{
  opacity: 1;
}

.image-selector {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding-left:620px;
  padding-right:300px;

}
.image-selector-age {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding-left:450px;
  padding-right:400px;
}

#result-container {
  text-align: center;
  min-height: 200px;
  padding: 10px;
}

.breadcomb {
  border: 2px solid #FCAF17;
  border-radius: 32px;
  color: #959494;
  font-size: 1.1em;
  padding: 6px 12px;
}

#result-summary {
  margin-top: 30px;
}

#more {
  position: fixed;
  text-align: center;
  background-color: skyblue;
  bottom: 0;
  width: 100%;
}

/*Map slide*/
#map {
  padding: 0;
  margin-left: 2vw;
  margin-right: 0 auto;
  margin-top: 4vh;
  margin-bottom: 0 auto;
  width: 60vw;
  height: 70vh;
}
.info {
  padding: 6px 8px;
  font: 14px/16px, Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
  font-size: 16px;
}
.legend { text-align: left; line-height: 18px; color: #555; }
.legend i { width: 18px; height: 18px; float: left; margin-right: 8px; opacity: 0.7; }

.buttons {
  position: absolute;
  padding: 0;
  z-index: 10;
  opacity: 0.9;
  cursor: pointer;
  transform: translateX(64vw) translateY(4vh);
  font: 14px/16px Arial, Helvetica, sans-serif;
  /*text-align: right;*/
}
#choice_drop {
  width: 15vw;
}
