/*for the horizontallity and buttons*/
/*change min / max width later according to the parts that need to be insert*/
body {
  padding: 0;
  margin: 0;
}
#wrapper > div {
  padding: 0;
  margin: 0;
  width: 600%;
  height: 100%;
}
.section {
  padding: 0;
  margin: 0;
  float: left;
  width: 20%;
}

/*Title & Text colors*/
.section__title {
  color: whitesmoke;
  position: absolute;
}

/*the background content*/
#moon {
  z-index: 0;
  position:fixed;
  transform: translateX(125px) translateY(100px);
  width: 40px;
  height: 40px;
  background: whitesmoke;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
#sky {
  z-index: -3;
  position: fixed;
  background: linear-gradient(#0a0763, #d8b2ff);
  width: 100%;
  height: 100%;
}
#skyline {
  /*will be modified later on*/
  z-index: 2;
  position:fixed;
  transform: translateY(85vh);
  width:100%;
  height:15%;
  background-color: black;
}
#section_for_slides {
  z-index: -5;
  position:absolute;
  transform: translatex(-70vw) translateY(-8vh);
  width:90%;
  height:86%;
  background-color: black;
}
/*buttons*/
