/*for the horizontallity and buttons*/
/*change min / max width later according to the parts that need to be insert*/
html, body {
  padding: 0;
  margin: 0;
  width: 500vw;
  height: 100vh;
  overflow-x: scroll;
  overflow-y: hidden;
}
.section {
  padding: 0;
  margin: 0;
  float: left;
  width: 20%;
}

/*Title & Text colors*/
.section__header{
  padding:0;
  margin: 10px;
}
.section__title {
  color: whitesmoke;
  position: absolute;
}
.section__lead {
  padding-top: 60px;
  padding-left: 80px;
  color: whitesmoke;
}
/*the background content*/
.background {
  padding:0;
  margin:0;
  width: 0;
  height: 0;
}
#moon_stars{
  z-index: 0;
  position: fixed;
  padding: 0;
  margin: 0;
  color:rgba(0,0,0,0);
  background-color: rgba(0,0,0,0);
  transform: translateX(6vw) translateY(6vh);
}
.moon {
  width: 4vw;
  height: 4vw;
  background: whitesmoke;
  -moz-border-radius: 2vw;
  -webkit-border-radius: 2vw;
  border-radius: 2vw;
}
.star {
  margin: 2vw;
  background: yellow;
  width: 4px;
  height: 4px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  } #second {
  transform: translateX(10vw);
  } #third {
  transform: translateX(18vw);
  } #fourth {
  transform: translateX(26vw);
  } #last {
  transform: translateX(34vw);
  }
#sky {
  z-index: -3;
  position: fixed;
  background: linear-gradient(#0a0763, #d8b2ff);
  width: 100vw;
  height: 100vh;
}
#skyline {
  z-index: -3;
  position: fixed;
  width: 100vw;
  height: 7vh;
  background-color: black;
  transform: translateY(80vh);
}
.section__slides {
  z-index: -5;
  position:absolute;
  width:80vw;
  height:80vh;
  background-color: black;
  color: black;
}
/*Map slide*/
#map {
  margin-left: 2vw;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 64vw;
  height: 70vh;
}
.info {
  padding: 6px 8px;
  font: 14px/16px, Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
  font-size: 16px;
}
.legend { text-align: left; line-height: 18px; color: #555; }
.legend i { width: 18px; height: 18px; float: left; margin-right: 8px; opacity: 0.7; }

.buttons {
  position: absolute;
  padding: 0;
  z-index: 10;
  opacity: 0.9;
  cursor: pointer;
  transform: translateX(70vw) translateY(-5vh);
  font: 14px/16px Arial, Helvetica, sans-serif;
}
