html, body {
  padding: 0;
  margin: 0;
  width: 700vw;
  height: 100vh;
  overflow-y: hidden;
}

/* background */
#background_sky {
  z-index: -5;
  position: fixed;
  background: linear-gradient(rgb(47, 108, 158), rgba(255, 135, 84, 0.3));
  width: 100vw;
  height: 100vh;
}
.moon {
  width: 4vw;
  height: 4vw;
  background: whitesmoke;
  -moz-border-radius: 2vw;
  -webkit-border-radius: 2vw;
  border-radius: 2vw;
}
.star {
  background: yellow;
  margin: 2vw;
  width: 6px;
  height: 6px;
  border-radius: 3px;
}
#buttons_as_the_moon_and_the_stars {
  z-index: 0;
  position: fixed;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 5vh;
  cursor: pointer;
  transform: translateX(6vw) translateY(3vh);
}
#index {
  transform: translateX(6vw);
}
#intro_demographic {
  transform: translateX(8vw);
}
#analysis_page1 {
   transform: translateX(10vw);
}
#map_vis {
   transform: translateX(12vw);
}
#conclusion {
  transform: translateX(14vw);
}

/* horizontallity */
tr, td {
  margin: 0;
  padding-left: 3vw;
  padding-right: 3vw;
  width:100vw;
  height: 100vh;
}
.container {
  margin: 0;
  padding: 0;
  /*giving space for the navbar*/
  width: 100vw;
  height: 90vh;
  transform: translateY(6vh);
  align-self: center;
}
.section_slides {
  z-index: -3;
  position:absolute;
  transform: translateX(-6vw);
  width:88vw;
  height: 90vh;
  background-color: rgba(200,195,200, 0.7);
  color: black;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.section_text {
  padding: 3em;
  margin: 0;
}

/* intro */
.question {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
}

.navi-none-age, .navi-none-gender {
  color: grey;
  cursor: pointer;
}

.selector-item {
 border: 1px solid grey;
 /* padding: 5px;
 margin: 10px 10px 10px 0; */
 cursor: pointer;
 opacity: 0.3;
}

.selector-item.hover, .selector-item.selected{
  opacity: 1;
}

.image-selector {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  /* padding-left:620px;
  padding-right:300px; */

}
.image-selector-age {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  /* padding-left:450px;
  padding-right:400px; */
}

#result-container {
  text-align: center;
  min-height: 200px;
  /* padding: 10px; */
}

.breadcomb {
  border: 2px solid #FCAF17;
  border-radius: 32px;
  color: #959494;
  font-size: 1.1em;
  padding: 6px 12px;
}

#result-summary {
  margin-top: 30px;
}

/* analysis */
.carousel-inner {height:500px; width: 1200px; text-align:center; line-height:30px; border:1px solid #fff; background:#aaa;}
.carousel-inner .chart {width: 50%; margin: auto; display: inline-block; vertical-align: middle;}
.carousel-inner .item p {font-size:20px; color:#eee;}

.carousel-caption {
max-width: 40%; /* was 60% */
margin-left: 2%; /* was 11% */
padding: 2%;  /* was 5% */
position: absolute;
left:25%;
bottom:0px; /* hugs the bottom of the slider */
}
.carousel-caption h3 {
font-size: 24px;
line-height: 1; /*was 1.25 */
}
.carousel-caption p {
font-size: 16px;
line-height: 1; /* was 1.25 */
}

/*좌우 아이콘*/

.carousel-control {
  position: absolute;
  top: 150px;
  left: 15px;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  font-size: 60px;
  font-weight: 100;
  line-height: 30px;
  background-image: none !important;
  filter: none !important;
  text-align: center;
  -webkit-border-radius: 23px;
     -moz-border-radius: 23px;
          border-radius: 23px;
}

.glyphicon{
    font-size: 60px;
    color: black;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}


/* map-vis */
#map {
  transform: translateY(5vh);
  width: 76vw;
  height: 70vh;
}
.info {
  padding: 6px 8px;
  font: 14px/16px, Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
  font-size: 16px;
}
.legend { text-align: left; line-height: 18px; color: #555; }
.legend i { width: 18px; height: 18px; float: left; margin-right: 8px; opacity: 0.7; }

.btn-group {
  z-index: 400;
  position: absolute;
  opacity: 0.9;
  font: 14px/16px Arial, Helvetica, sans-serif;
  cursor: pointer;
  transform: translateX(5vw) translateY(-64vh);
}
